roadmap:
  prefix: Roadmap
  idDigits: 2
  path: ./roadmaps
  template: roadmap.nj
  aliases: ['roadmaps']
  fields:
    status:
      name: Status
      type: enum
      values:
        done: Done
        inProgress: In progress
        cancelled: Cancelled
    created:
      name: Created
      type: date

milestone:
  prefix: Milestone
  idDigits: 3
  path: ./milestones
  template: milestone.nj
  aliases: ['milestones']
  fields:
    status:
      name: Status
      type: enum
      values:
        done: Done
        inProgress: In progress
        cancelled: Cancelled
    parent:
      name: Roadmap
      type: link
      protocol: roadmap
    created:
      name: Created
      type: date

task:
  prefix: DOD
  idDigits: 4
  path: ./tasks
  template: task.nj
  aliases: ['tasks']
  fields:
    status:
      name: Status
      type: enum
      values:
        done: Done
        inProgress: In progress
        cancelled: Cancelled
    parent:
      name: Milestone
      type: link
      protocol: milestone
    created:
      name: Created
      type: date

adr:
  prefix: ADR
  idDigits: 3
  path: ./adr
  template: adr.nj
  aliases: ['adrs']
  fields:
    status:
      name: Status
      type: enum
      values:
        done: Accepted
        inProgress: In progress
        cancelled: Deprecated
    created:
      name: Created
      type: date

design:
  prefix: Design
  idDigits: 3
  path: ./design
  template: design.nj
  aliases: ['designs']
  fields:
    created:
      name: Created
      type: date

devlog:
  prefix: DevLog
  idDigits: 3
  path: ./devlogs
  template: devlog.nj
  aliases: ['devlogs']
  fields:
    created:
      name: Created
      type: date

idea:
  prefix: Idea
  idDigits: 3
  path: ./ideas
  template: idea.nj
  aliases: ['ideas']
  fields:
    created:
      name: Created
      type: date
