.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
}

.title {
  margin-bottom: var(--space-1);

  font-family: var(--font-heading);
  font-size: var(--type-title-large-size);
  font-weight: var(--type-title-large-weight);
}

.type {
  margin-bottom: var(--space-2);

  font-size: var(--type-body-medium-size);
}

.description {
  flex-grow: 1;

  color: var(--muted);

  font-size: var(--type-body-medium-size);
}

.image {
  width: 100%;
  margin-bottom: var(--space-2);

  object-fit: cover;
  border-radius: 12px;
}
